body {
    background: black;
    color: white;


}
#container {
    width: 100%;
    background-color: grey;
    opacity: .8;

}
.jumbotron.jumbotron-fluid {
    text-align: center;
    background-color:black;
    color: rgb(255, 253, 227);
    opacity: .9;
}
#input {
    border: solid black;
    opacity: .8;
}
#input.Row {
    background-color: black;

}
.display-4 {
    font-family: 'Germania One', cursive;
}
.lead {
    font-family:Impact, Arial, Helvetica, sans-serif;
}
#sides {
    background-color: black;
    opacity: .9;
}
#gsofar {
    /* border-left: solid 2px; */
}
.footer {
    padding: 20px;
    color: rgb(255,253,227);
    background-color: black;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    opacity: .9;
}
@media screen and (min-width: 767px) {
#gsofar {
    /* margin-left: solid 0px; */
}}